* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to left, #FF881B, #F650A0);
}

.container {
  width: 500px;
  height: 600px;
  // border: 2px solid orange;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}